@cldcvr:registry=https://pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/registry/:username=cldcvrdevusa
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/registry/:_password=eHhocjVnbG81YWczb25wdXd6Y2xqeGxwZmZpbXF2aHdtYjZvNXp3bzJkamp4emJ4enBhYQ==
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/registry/:email=vanguard@cldcvr.com
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/:username=cldcvrdevusa
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/:_password=eHhocjVnbG81YWczb25wdXd6Y2xqeGxwZmZpbXF2aHdtYjZvNXp3bzJkamp4emJ4enBhYQo==
//pkgs.dev.azure.com/cldcvrdevusa/_packaging/FlowLibraryFeed/npm/:email=vanguard@cldcvr.com
